doctype html
html(ng-app='datePickerDemo')
    head
        meta(charset='utf-8')
        title Date picker demo
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        date-picker(open='true', specified-date='new Date()')
